@value small from 'styles/breakpoints.css';

.title {
  font-size: 3rem;
}

.description {
  font-size: 1.2rem;
  margin-top: 10px;
  font-weight: 500;
}

.container {
  margin-bottom: 40px;
  display: block;
}

@media small {
  .title {
    font-size: 2.2rem;
    margin-top: 10px;
  }
}
