@value triLight, triMid, triDark from "styles/colors.css";
@value small from 'styles/breakpoints.css';

.main {
  background-color: triDark;
  background-image: linear-gradient(
    43deg,
    triDark,
    triMid,
    triLight,
    triMid,
    triDark
  );
  height: 15px;
  width: 80%;
  margin-top: 40px;
  animation: gradient 5s linear infinite;
  background-size: 1100% 100%;
  border-radius: 5px;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

@media small {
  .main {
    margin-top: 20px;
    height: 10px;
  }
}