@value small from "styles/breakpoints.css";

.container {
  padding: 20px 0;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.linkContainer a {
  margin: 0 20px;
  font-weight: bold;
}

@media small {
  .linkContainer a {
    margin: 0 10px;
  }
}
