@value triLight, triMid, triDark from "styles/colors.css";

.text {
  margin: 0;
}

.gradient {
  background-color: triDark;
  background-image: linear-gradient(
    43deg,
    triDark 0%,
    triMid 46%,
    triLight 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

