@value small from 'styles/breakpoints.css';

.title {
  font-size: 3rem;
}

.description {
  font-size: 1.2rem;
  margin-top: 10px;
  font-weight: 500;
}

.container {
  margin-bottom: 40px;
  display: block;
}

.inner {
  display: flex;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageContainer {
  margin-right: 20px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  width: 150px;
  height: 150px;
  position: relative;
}

@media small {
  .title {
    font-size: 1.2rem;
  }

  .description {
    font-size: 1rem;
  }

  .imageContainer {
    width: 75px;
    height: 75px;
  }
}
