@value small from 'styles/breakpoints.css';

.meta {
  display: flex;
  align-items: center;
}

.title {
  font-size: 3rem;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageContainer {
  margin-right: 20px;
  border-radius: 10px;
  overflow: hidden;
  flex-shrink: 0;
  width: 150px;
  height: 150px;
  position: relative;
}

.description {
  margin-top: 10px;
  font-weight: 500;
}

.line {
  margin-top: 20px;
  height: 10px;
  margin-bottom: 30px;
  width: 100%;
}

.content p {
  font-weight: 420;
  line-height: 32px;
  font-size: 20px;
  margin-bottom: 23px;
}

.content blockquote {
  font-style: italic;
}

.content li {
  font-weight: 420;
  line-height: 32px;
  font-size: 20px;
}

.content img {
  max-width: 100%;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5 {
  margin-bottom: 20px;
}

.content h2 {
  font-size: 2rem;
}

.content h3 {
  font-size: 1.75rem;
}

@media small {
  .title {
    font-size: 2.2rem;
    margin-top: 10px;
  }

  .description {
    font-size: 1rem;
  }

  .imageContainer {
    width: 75px;
    height: 75px;
  }
}
