html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fcfcfc;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.tri-dark {
  color: #1d2671;
}

.tri-light {
  color: #c33764;
}

.tri-mid {
  color: #7a1e6d;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label {
  color: #34495e;
  margin: 0;
}

a:hover {
  color: #c33764;
}